@charset "utf-8";
//主题色
$themeColor: #ea552d;

// 背景图片地址和大小 background image size
@mixin bis($url, $size: cover) {
  background-image: url($url);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: $size;
}

// flex 布局 水平垂直居中
@mixin ic($horizontal:center, $vertical:center) {
  display: flex;
  align-items: $horizontal;
  justify-content: $vertical;
}

// 单行省略号 single line ellipsis
@mixin sle() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

// 多行省略号 multiline ellipsis
@mixin mle($num:2) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $num;
  -webkit-box-orient: vertical;
}
